@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --danger-color:red;
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 3px 6px -1px,
    rgba(145, 158, 171, 0.14) 0px 6px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 3px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.product:hover {
  box-shadow: var(--shadow);
  border: solid 4px var(--main-color);
  border-radius: 20px;
}
.product .btn {
  transition: transform 0.7s, opacity 0.7s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 16px;
}
.danger-color{
 color: var(--danger-color);
}
.text-main {
  color: var(--main-color);
}
.text-main-light {
  color: var(--light-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}

.active{
  color: var(--main-color);
}